<section>
    <div class="seletor">
        Selecione o tipo de binding:
        <select #bindingType (change)="changeBindingType(bindingType.value)">
            <!-- O símbolo "#" na tag acima cria uma variável local. -->
            <option value="property">property binding</option>
            <option value="class-style">class e style binding</option>
            <option value="event">event binding</option>
            <option value="two-way">two way data binding</option>
            <option value="input-output-properties">
                input output properties
            </option>
        </select>
    </div>

    <app-property-binding *ngIf="propertyBinding"></app-property-binding>

    <app-class-style-binding
        *ngIf="classStyleBinding"
    ></app-class-style-binding>

    <app-event-binding *ngIf="eventBinding"></app-event-binding>

    <app-two-way-data-binding
        *ngIf="twoWayDataBinding"
    ></app-two-way-data-binding>

    <app-input-output-properties
        *ngIf="inputOutputProperties"
        [nome1]="'Projeto de ' + title + ' - Método 1, variável 1'"
        [nomeDoCurso2]="'Projeto de ' + title + ' - Método 1, variável 2'"
        [nome2]="'Projeto de ' + title + ' - Método 2'"
        [nomeDoCurso4]="'Projeto de ' + title + ' - Método 3'"
    ></app-input-output-properties>
</section>
